/*----------------------------------------------------------------------------*/
body {
    margin: 0; padding: 0;
}
* {
    font-size: 16px;
    font-family: Verdana;
}

.line {
    border:1px solid #0007;
    margin: .5em 0;
}

/*----------------------------------------------------------------------------*/
.column {
    float: left;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #111;
}
.column.left {
    box-shadow: inset 0 -.5em 1em -.5em black;
}
.column.right {
    width: 80%;
    background-color: forestgreen;
    box-shadow: inset 0 0 30px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.cell {
    overflow-y: hidden;
    padding: 0 .5em;
}

.cell.title {
    background-color: #bbb;
    box-shadow: inset 0 -.5em 1em -.5em black;
}
.cell.players {
    background-color: #777;
    box-shadow: inset 0 -.5em 1em -.5em black;
}
.cell.state {
    background-color: #333;
    box-shadow: inset 0 -.5em 1em -.5em black;
}

.cell.top {
    max-height: 67vh;
    height: 67vh;
    min-height: 67vh;
}
.cell.log {
    max-height: 33vh;
    height: 33vh;
    min-height: 33vh;
}

#top p {
    margin: .5em;
}

/*----------------------------------------------------------------------------*/
.arrow {
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.arrow.up {
    top: .5em;
}
.arrow.down {
    bottom: 10%;
}
#log {
    background-color: #7777;
    overflow-y: scroll;
    margin: 0 auto;
    width: 90%;
    height: 80%;
    box-shadow: inset 0 0 15px;
    padding: 1em 1em;
}
#log::-webkit-scrollbar {
    display: none;
}
#log {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#log p {
    margin: .5em 0;
}
#log p:first-child {
    margin-top: 0;
}
#log p:last-child  {
    padding-bottom: .5em;
    margin-bottom: 0;
}

/*----------------------------------------------------------------------------*/
button {
    border-radius: 1em;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    transition: border .25s;
}
button:enabled:hover {
    transition: border 0s;
    font-weight: bold;
}

/*----------------------------------------------------------------------------*/
button.card {
    width: 4em;
    height: 2em;
    color: black;
    border-radius: 0;
}
button.card.sweep {
    width: 5em;
    height: 2em;
}
button.card.red {
    background-color: #bf7f7f;
    border-color: #bf7f7f;
    color: white;
}
button.card.black {
    background-color: #7f7f7f;
    border-color: #7f7f7f;
    color: white;
}
button.card:disabled {
    color: black;
    background-color: #dfdfdf;
    border-color: #bfbfbf;
}
button.card.sweep:disabled {
    background-color: #dfdfdf;
}
button.card.red:disabled {
    color: #bf7f7f;
    border-color: #bf7f7f;
}
button.card.black:disabled {
    color: #7f7f7f;
    border-color: #7f7f7f;
}
button.card:enabled:hover {
    border-color: darkred;
}

/*----------------------------------------------------------------------------*/
button.player {
    min-width: 2em;
    height: 2em;
    border-radius: 1em;
    padding-left: .5em;
    padding-right: .5em;
    border: solid .1em #777;
    border-left: solid .5em #777;
    border-right: solid .5em #777;
}
button.player:disabled {
    color: black;
}
button.player.highlight {
    border-left-color: cyan;
    border-right-color: cyan;
}
button.player.simple {
    border: solid .1em #bfbfbf;
    color: black;
    background-color: #dfdfdf;
}
button.player.you {
    color: darkgreen;
    font-weight: bold;
}

/*----------------------------------------------------------------------------*/
button.value {
    width: 3em;
    height: 2em;
    color: black;
    background-color: #dfdfdf;
    border-color: #bfbfbf;
}
button.money:after {
    content: " $";
}

/*----------------------------------------------------------------------------*/
button.go {
    width: 12em;
    height: 2em;
    border-color: #7f7f7f;
    border-width: .2em;
}
button.go:enabled:hover {
    border-color: darkred;
}

/*----------------------------------------------------------------------------*/
button.add {
    width: 2em;
    height: 2em;
    border-color: #7f7f7f;
    border-width: .2em;
}
button.add:enabled:hover {
    border-color: darkred;
}

/*----------------------------------------------------------------------------*/
button.skip {
    width: 4em;
    height: 2em;
    border-color: #7f7f7f;
}
button.skip:enabled:hover {
    border-color: darkred;
}

/*----------------------------------------------------------------------------*/
span.back {
    border: none;
    padding: 0;
    padding-right: .5em;
    padding-left: .5em;
    margin: 0;
    display: inline-block;
    border-radius: 1em;
    border-left: .1em solid #0000;
    border-right: .1em solid #0000;
}
span.back.highlight {
    background-color: #0ffb;
}

/*----------------------------------------------------------------------------*/
span.spacer {
    display: inline-block;
    width: 1em;
}
span.spacer.small {
    width: .2em;
}
span.spacer.medium {
    width: .5em;
}
/*----------------------------------------------------------------------------*/
