@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

/*#region VARIABLES*/
* {
    --brightRed: #fcc;
    --deepRed: #900;
    --transparentRed: #90000017;
    --brightGreen: #cfd;
    --deepGreen: #093;
    --transparentGreen: #00903017;
    --brightBlue: #cdf;
    --deepBlue: #039;
    --transparentBLue: #00309017;
    --black: #000;
    --darkestGray: #1a1a1a;
    --darkerGray: #333;
    --darkGray: #666;
    --lightGray: #999;
    --lighterGray: #ccc;
    --white: #fff;
    --transparentDarkGray: #0009;
    --transparentLightGray: #9999;
    --transparent: #0000;
}

* {
    font-family: "Roboto Mono", serif !important;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--black);
}

#root {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    overflow: clip;
}

.header,
.footer {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--darkGray);
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex: 0 0 auto;
    margin: 0;
    padding: 1rem;
    min-height: 3rem;

    &.title {
        gap: 0;
        padding: 0;
        background-color: var(--darkerGray);
        padding-top: 1rem;
    }
}

.body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--darkerGray);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    overflow-y: auto;
    margin: 0;
}

input {
    background-color: var(--lighterGray);
    height: 2rem;
    width: 8rem;
    font-size: 100%;
    padding: 0 .5rem;
    margin: 0;
    border: none;
    border-radius: .25rem;
    transition: .2s;
    box-shadow: 0 0 4px var(--black);

    &:hover:not(:disabled),
    &:active:not(:disabled),
    &:focus-visible:not(:disabled) {
        transform: scale(105%);
        background-color: var(--brightGreen);
    }
}

button {
    background-color: var(--lighterGray);
    height: 2rem;
    width: 12rem;
    font-size: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: .25rem;
    transition: .2s;
    box-shadow: 0 0 4px var(--black);

    &:focus:not(:disabled) {
        background-color: var(--brightBlue);
    }

    &:hover:not(:disabled) {
        transform: scale(105%);
        background-color: var(--brightBlue);
    }

    &:active:not(:disabled) {
        transform: scale(95%);
        background-color: var(--brightBlue);
    }
}

.block {
    width: 100%;
    gap: .5rem;
}

.line,
.title {
    &>span {
        padding: 0.125rem 0.5rem;
        border-left: 4px solid var(--lightGray);
        border-right: 4px solid var(--lightGray);
        display: inline-block;
        height: 2rem;

        &:first-child {
            border-left: 8px solid var(--lightGray);
        }

        &:last-child {
            border-right: 8px solid var(--lightGray);
        }
    }
}

.title>span {
    height: 100%;
    border-color: var(--lighterGray) !important;
    border-top: 8px solid var(--lightGray);
    border-bottom: 4px solid var(--lightGray);
}

.line>span {
    border-color: var(--lightGray) !important;
}

.line:last-child {
    margin-bottom: 1rem;

    &>span {
        border-bottom: 8px solid var(--lightGray);
    }
}

.line {
    background-color: var(--transparent);
    transition: background-color .1s;
}

.line:hover {
    background-color: var(--transparentRed);
    transition: background-color 0s;
}

.name,
.type {
    width: 12rem;
}

.hp,
.attack,
.defense,
.spAttack,
.spDefense,
.speed {
    width: 8rem;
    text-align: right;
}