/* ----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0; padding: 0;
  font-size: 16px;
  filter: sepia(33%);
  user-select: none;
}
button {
  font-size: 100%;
  border-radius: .5rem;
  transition: .2s box-shadow;
}
button:hover {
  box-shadow: 0 0 .5em black;
}
button:hover:active {
  box-shadow: inset 0 0 .5em black;
}
div {
  border-radius: .5rem;
}
input {
  border-radius: .5rem;
  box-shadow: inset 0 0 .5em black;
  border: none;
}
input:focus {
  outline: none;
  box-shadow: 0 0 .5em black;
}
span {
  border-radius: .5rem;
}

/*----------------------------------------------------------------------------*/
#background {
  /* background: center / contain no-repeat url('bg.jpg'), black; */
  background-color: #333;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 0;
  box-shadow: 0 0 50vh black inset;
}
#client {
  min-height: 100vh;
  max-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 0;
}

.header, .footer {
  flex: 0 0 auto;
  width: 45em;
  margin: auto;
  padding: 0;
}
.header>span, .footer>span {
  color: black;
}


/*----------------------------------------------------------------------------*/
#menu, #room {
  background-color: #bbb;
  width: 45em;
  margin: 0 auto .25em auto;
  flex: 1 1 auto;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: .25em 0;
}

/*----------------------------------------------------------------------------*/
#menu #id, #room #id {
  box-shadow: inset 0 0 .5em black;
  display: inline-block;
  width: 20em;
  height: 2em;
  text-align: center;
  margin: .25em 0;
  line-height: 2em;
  border-radius: .5em;
  user-select: text;
}
#menu i.bi {
  margin-left: -1.5em;
  color: #333;
}
#menu i.bi:hover {
  color: #999;
}
#menu input, #room input {
  width: 20em;
  height: 2em;
}
#menu input {
  margin: .25em 0;
  padding-right: 2em;
  padding-left: .5em;
}
#room input {
  margin: .25em .25em;
}
#menu button, #room button {
  background-color: #999;
  height: 2em;
  width: 20em;
  border: none;
  margin: .25em 0;
}

/*----------------------------------------------------------------------------*/
#top {
  padding: .25em;
  background-color: #333;
  color: white;
  margin: .25em auto;
}

/*----------------------------------------------------------------------------*/
#bottom {
  padding: .25em;
  background-color: #333;
  color: white;
  margin: auto;
  margin-bottom: .25em;
}

/*----------------------------------------------------------------------------*/
.playerList {
  padding: .125em;
  margin: auto;
}

/*----------------------------------------------------------------------------*/
.board {
  padding: .25em;
  background-color: #bbb;
  margin: auto;
}
.board span {
  padding: 0 .25em;
  margin: .5em .125em;
}
.board span.passed {
  font-weight: bold;
}

.board#liberal-board {
  color: blue;
  margin-bottom: .25em;
}
.board#liberal-board span.passed {
  border: blue solid 1px;
}

.board#fascist-board {
  color: brown;
}
.board#fascist-board span.passed {
  border: brown solid 1px;
}

/*----------------------------------------------------------------------------*/
.player {
  display: inline-block;
  vertical-align: middle;
  margin: .125em;
  width: 8em;
  height: 8em;
  transition: background-color .2s;
  overflow: hidden;
  background-color: silver;
}
.player.dead {
  background-color: dimgray;
}
.player.ja {
  background-color: forestgreen;
}
.player.nein {
  background-color: firebrick;
}
.player.hitler {
  background-color: red;
}
.player.fascist {
  background-color: sienna;
}
.player.liberal {
  background-color: cyan;
}
.player.president {
  background-color: chartreuse;
}
.player.chancelor {
  background-color: orange;
}

.player button {
  background-color: #0003;
  height: 2em;
  width: 100%;
  border: none;
  border-radius: 0;
}
.player button.half {
  width: 50%;
}
.player button:hover {
  box-shadow: 0 0 .5em black;
}
.player button:hover:active {
  box-shadow: inset 0 0 .5em black;
}

.player div {
  height: 2em;
}
.player .title {
  display: flex;
  background-color: #111;
  color: #bbb;
  height: 2em;
  border-radius: 0;
  width: 100%;
}
.player .title span {
  flex-grow: 1;
}
.player .title input {
  margin: .5em;
  border-radius: 50%;
}
.player .title input:first-child {
  accent-color: cyan;
}
.player .title input:last-child {
  accent-color: sienna;
}

/*----------------------------------------------------------------------------*/
.policy {
  height: 2em;
  min-width: 10em;
  margin: 0 1em;
  background-color: #bbb;
}

/*----------------------------------------------------------------------------*/
#buttons {
  max-height: 2em;
  margin: auto;
  margin-bottom: .25em;
}
#buttons button {
  background-color: #bbb;
  color: black;
  height: 2em;
  width: 8em;
  border: none;
  margin: 0 .25em;
}
#buttons button:disabled {
  color: black;
  box-shadow: inset 0 0 .5em black;
}
#buttons button:enabled:hover {
  box-shadow: 0 0 .5em black;
}
#buttons button:enabled:hover:active {
  box-shadow: inset 0 0 .5em black;
}

/*----------------------------------------------------------------------------*/
#log {
  background-color: #bbb;
  width: 45em;
  min-height: 2em;
  margin: auto;
  margin-bottom: .25em;
  flex: 1 1 auto;
  overflow-y: scroll;
  scrollbar-width: none;
}
#log p {
  margin: .25em;
}
#log p.new {
  color: forestgreen;
}
#log p:last-child {
  margin-bottom: 1em;
}

/*----------------------------------------------------------------------------*/
div.line {
  margin-bottom: .5em;
  margin-left: 2em;
  margin-right: 2em;
  height: 2px;
  background-color: black;
}

/*----------------------------------------------------------------------------*/
#log hr {
  border-top: #333 solid .125em;
  opacity: 100%;
  margin: .5em .25em;
}

/*----------------------------------------------------------------------------*/
